<nav class="navbar">
       <a href="/school" class="navbar-brand">
            <img [src]="logo" class="pic">
        </a>

        
   <body>     
        <div class="navbar-default"> 
                <ul>

                <a class="wlcm">Welcome  Winjit</a>
            
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn">
                    <a class="nav-link"  routerLink="/" *ngIf="isLoggedIn">Login</a>
                    </li>
      
                    <li class="nav-item" *ngIf="isLoggedIn$ | async as isLoggedIn">
                       <a class="nav-link" *ngIf="(username$ | async) as username">{{username | uppercase}}</a>
                     </li>
       
      
                    <li *ngIf="isLoggedIn$ | async as isLoggedIn">
                      <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
                     </li>
                </ul>
           </div>
    </body>

</nav>





