<!-- <app-navbar></app-navbar> -->
<div>
    <div class="scienceBackground">
    <div class="column">
        <div class="science_Light">
            <h4>Light
                <button class="scienceFreeDemo">
                    <img [src]="star1">
                 free demo
                </button>
            </h4>
          
            <p>Introduction to Light</p>
            <p>Transparent,Transculent and opaque materials</p>
            <h5>7 islands - 28 Concepts</h5>
            <button class="SciencePlayButton">
            <img [src]="play1">
            Play</button>

        </div>
        <div class="science_Light">
        <h4>Magnetism
        <button class="scienceFreeDemo">
            <img [src]="star1">
               free demo
                </button>
        </h4>
        <p>World of magnets,Poles of magnet</p>
        <p>+ 6 more</p>
        <h5>8 islands - 32 Concepts</h5>

            
        <button class="SciencePlayButton">
            <img [src]="lockk">
            <img [src]="lockk1">
                Unlock</button>
            </div>
        <div class="science_Light">
        <h4>Habitat & </h4>
        <h4>Adaptations
        </h4>
        <button class="scienceFreeDemo">
            <img [src]="star1">

                
                 free demo
                </button>
            <p>Introduction to Light</p>
            <p>Transparent,Transculent and opaque materials</p>
            <h5>7 islands - 28 Concepts</h5>
            <button class="SciencePlayButton">

            <img [src]="lockk">
            <img [src]="lockk1">
            Unlock</button>


        </div>
    </div>


    <div class="column">

        <div class="science_Light">
        <h4>Water </h4>
        <button class="scienceFreeDemo">
            <img [src]="star1">
                 free demo
                </button>
       
            <p>Water:A Natural Gift,</p>
            <p>Sources of water, +10 more islands</p>
            <h5>12 islands - 48 Concepts</h5>
            <button class="SciencePlayButton">
                <img [src]="lockk">
                <img [src]="lockk1">
                     Unlock</button>


        </div>
        <div class="science_Light">
        <h4>The Leaf
        <button class="scienceFreeDemo">
            <img [src]="star1">
              free demo
                </button>
        </h4>
            <p>Introduction to the Plant System</p>
            <p>Root Systems, +9 more</p>
            <h5>11 islands - 44 Concepts</h5>
            <button class="SciencePlayButton">
                <img [src]="lockk">
                <img [src]="lockk1">
                Unlock</button>
          
            </div>
        <div class="science_Light">
        <h4>The Flower
        <button class="scienceFreeDemo">
                <img [src]="star1">
                  free demo</button>
        </h4>
            <p>Flowers, Whorls of a Flower</p>
            <p>+7 more islands</p>
            <h5>9 islands - 36 Concepts</h5>
            <button class="SciencePlayButton">
            <img [src]="lockk">
            <img [src]="lockk1">
                Unlock</button>
    </div>

    </div>
</div>  
<div class="Bottom">
       <p class="BottomText" style="color: aliceblue;">All Right Reserved | STEPAPP 2019</p>
       </div>
</div>

