
<div class="background1">
    <div class="UpperHalfContainer" >
        <!-- <div class="cursor"> </div> -->
             <div class="container" >
                <div class="rect">
                <!-- <img [src]="body" alt="centered image" /> -->
                <div  class="mid">
                    <img [src]="midcircle">
                   <p> Free Demo</p>
                </div>
                <p class="text">play the free demo chapters to understand how  your speed and accurancy will make you win</p>
             </div>
            
              </div>
            <div class="cursor"> </div>
    </div>
    <div class="LowerHalfContainer">

        <div>
            <button (click)="subBtn()"  class="SubjectScience">
                <p class="Learn">Learn Science</p>
                <div class="ScienceSmallText">
                    <p class="SciencechapterName">Light</p>
                    <p class="SciencechapterName">Magnetism</p>
                    <p class="SciencechapterName">+6 more Chapters</p>
                </div>
                <p class="Learn">8 Chapters</p>
                <button class="FreeDemo" style="color: black;">
                    <img [src]="star1">
                     1FreeDemo
                  </button>

            </button>
        </div>
        <div>

            <button (click)="mathbtn()" class="SubjectMath">

                <p class="Learn">Learn Maths</p>
                <p class="SciencechapterName">Playing with Numbers</p>
                <p class="SciencechapterName">Number System</p>
                <p class="SciencechapterName">+7 more Chapters</p>

                <p class="Learn">9 Chapters</p>
                <button class="FreeDemo">
                    <img [src]="star1">
                     1FreeDemo
                    </button>

            </button>
        </div>

    </div>


</div>
<div class="Bottom">
    <p class="BottomText" style="color: aliceblue;">All Right Reserved | STEPAPP 2019</p>
</div>


