<!-- <app-navbar></app-navbar> -->

 <div class="loginBackground">
    <div class="eclipscontainer">
       <div class="circle">
      <!-- <img [src]="ellips" alt="centered image"/> -->
      <p class="text-block1">Select</p>
      <p class="text-block2">Grade</p>

   <div>
    <button  (click)="stateValue($event)" class="Small5">5th</button>
   <div >
    <button  (click)="stateValue($event)" class="Small6">6th</button>
   </div>

   <div>
      <button  (click)="tag()" class="Small7">7th</button>
  
     </div>
  
  
   <div>
    <button  (click)="tag()" class="Small8">8th</button>
   </div>

   <div>
    <button  (click)="tag()" class="Small9">9th</button>
   </div>

   <div>
    <button (click)="tag()" class="Small10">10th</button>
   </div>

   <div>
    <button   (click)="tag()" class="Small11">11th</button>

   </div>
</div>
</div>
 
</div>
<div  class="proceed-wrapper" >
   <button  (click)="btn()" style="color: aliceblue;"class="gradeButtonProceed">Proceed</button>
    
 </div>
 
 </div> 
 <div class="bottom">
   <p class="BottomText"  style="color: aliceblue;" alt="centered">All Right Reserved | STEPAPP 2019</p>
   </div>
 
    
    


    