
  .form-control{  width: 270px;
    height: 50px;   
    margin-bottom : 10px;
  
  
  
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 100px;
  margin-top: 20px;
  

  }
  .topOrange{
    top: 59px;
    height: 241px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  }
  .topOrangeText1{
    width: 600px;
  height: 81.57px;
  padding-left: 183px;
  padding-top: 50.65px;
  
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  
  color: #FFF7DF;
  
  
  }
  .topOrangeText2{
    width: 700px;
    height: 125.3px;
    padding-left: 183px;
    padding-top: 50.85px;
  
  font-style: italic;
  font-weight: 600;
  font-size: 44px;
  line-height: 118.3%;
  
  
  color: #FFF7DF;
  
  }
  .sectopBlue{
    height: 450px;
    background: #0C2657;
    // background: #EFEFEF;
  
    justify-content: space-evenly;
      align-items: center;
  
    display: flex;
      flex-direction: column;
  
  }
  
    .proceed{
      width: 270px;
      height: 50px;
      top:10%;
      background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    }
  
    .dropdown{
      width: 270px;
      height: 50px;
  
  
      background: #FFFFFF;
      border: 1px solid #EFEFEF;
      border-radius: 100px;
    }
  
  .selectschoolText{
   
  
    font-style: Proxima Nova;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  
  
  color: #D8D8D8;
  }
  .midWhite{
    height: 600px;
  }
  .midWhiteTop{
    display: flex;
    justify-content: space-evenly;
    padding-left:20%;
    padding-right: 20%;
    padding-top: 3%;
    /* background-color: aqua; */
  }
  
  
  
  
  
  .midWhitemid{
    display: flex;
    align-items: center;
    padding-left: 40%;
  
  }
  
  .midWhitemidone{
    background-color: #FF9201;
    width:15%;
    height: 1%;
    border-radius: 100px;
  
  }
  
  .midWhitemidtwo{
    background-color: #0C2657;
    width:15%;
    height: 1%;
    border-radius: 100px;
  
  
  }
  
  .midWhitebottom{
    align-items: center;
  
  }
  
  .bigtext{
    
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 158.34%;
  color: #FFC000;

  
  text-align: center;
  }
  
  .smalltext{
  
  // width: 585px;
  height: 53px;
  
  
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 175.78%;
  text-align: center;
  color: #5C5C5C;
  margin-right: 100px;
  }

  
  .cards
  {
    position: relative;
    bottom: 0%;
    height: 400px;
  
    
      padding: 0;
      margin: 0;
  
      align-items: center;
  
    display: flex;
      flex-direction: inherit;
  
  }
  
  .card1{

  
    padding: 2%;
    
    background: #FFFFFF;
  
    border-radius: 5px;
  
    
  
  }
  .textcard1{
  
  width: 320px;
  height: 280px;
  left: 2px;
  
  
  }
  
  .card2{
  
    padding: 2%;
  
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 5px;
  }
  
  .card3{

  
    padding: 2%;
    
    background: #FFFFFF;
  
    border-radius: 5px;
  }
  .card4{

    padding: 2%;
  
    background: #FFFFFF;
    /* border: 1px solid #EFEFEF; */
    border-radius: 5px;
  }
  
  .bottomOrange{
     display: flex;
    justify-content: space-evenly;
    padding-left:10%;
    padding-right: 10%; 
    padding-top: 5%;
    margin-top: 5%;
  
    background: #FF9201;
  }
  
  .schoolbottomText{
  
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 182.7%;
  
  
  text-align: center;
  
  color: #FFFFFF;
  }
  
.BottomText{
  width: 345px;
  height: 20px;
  top: 2040px;
  font: Proxima Nova;
  align-content: center;
  line-height: 14.62px;
  margin-left: 800px;
}  
.Bottom{
  background-color: #0C2657;
}


